@mixin rowCenterAlign() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin columnCenterAlign(){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}